// -----------------------------------------------------------------------------
// Background images layout
// -----------------------------------------------------------------------------

//
// Top image mobile view
// ==========================================================================

.header::after {
  content: "";
  background: 60px -125px / 450px no-repeat url("../../../images/bg-tablet-pattern.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;

  @media (min-width: $bp-large) {
    background-position: 750px -170px;
    background-size: 800px;

  }
}
// 800px
// 120%



.about::after {
  content: "";
  background: center / 325px no-repeat url("../../../images/bg-tablet-pattern.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 215px;
  top: 340px;
  // left: 20%;
  // top: 20%;

  z-index: -2;

  @media (min-width: $bp-large) {
    // background-position: 750px -170px;
    background-size: 800px;
    left: -750px;
    top: 800px;

  }
}