// -----------------------------------------------------------------------------
// Footer styles & layout
// -----------------------------------------------------------------------------

// Base styles
.footer {
  background: $clr-blue-dark;
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 1rem;

  @media (min-width: $bp-medium) {
    padding-top: 3.75rem;
    padding-bottom: 0.5rem;
  }
}



// Layout
.footer .container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;

  @media (min-width: $bp-large) {
    grid-template-columns: 3fr 5fr 4fr;
    justify-items: start;
  }
}



//
// Logo
// ==========================================================================

.footer__logo {
  order: 4;
  margin-bottom: 2rem;

  @media (min-width: $bp-large) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}



//
// Social Icons
// ==========================================================================

.footer__social-icons {
  order: 3;
  @include flex(row);
  align-items: space-between;

  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.15rem;


  & a:hover path,
  & a:focus path {
    fill: $clr-red;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }

  @media (min-width: $bp-large) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-items: flex-start;
    margin: 0.65rem 0 0;
    max-width: 155px;

    & svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}



//
// Nav
// ==========================================================================

.footer__nav {
  text-align: left;

  order: 1;
  justify-self: center;

  @include flex(row);
  align-items: flex-start;

  max-width: 300px;
  margin-bottom: 2.35rem;

  & ul:first-child {
    margin-right: 6.25rem;
  }

  & a {
    color: $clr-gray-light;
    font-weight: 400;
    font-size: 0.9rem;

    @include on-event {
      color: $clr-red;
    }
  }
  
  & li {
    margin-bottom: 0.6rem;
  }

  @media (min-width: $bp-medium) {
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $bp-large) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: stretch;
    max-width: 380px;
  }
}



//
// Form
// ==========================================================================

.footer__updates-form {
  max-width: 340px;
  justify-self: center;
  margin-bottom: 1.8rem;

  @media (min-width: $bp-large) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    margin-bottom: 0;
  }
}



//
// Copyright
// ==========================================================================

.footer__copyright {
  color: $clr-gray-mid;
  font-size: 0.8rem;
  order: 5;
  @media (min-width: $bp-large) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
  }
}



//
// Attribution
// ==========================================================================
.attribution {
  background: $clr-blue-dark;
  font-size: 11px;
  text-align: center;
  padding-bottom: 0.65rem;

  & a {
    color: $clr-white;
  }
}