// -----------------------------------------------------------------------------
// Footer styles & layout
// -----------------------------------------------------------------------------

// Base styles
.footer {
  background: $clr-blue-dark;
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 1rem;
}



// Layout
.footer .container {
  display: grid;
  grid-template-columns: auto;
}



//
// Logo
// ==========================================================================

.footer__logo {
  // grid-column: 1 / -1;
  order: 4;
  margin: 0 auto 2rem;
  width: 100%;
}



//
// Social Icons
// ==========================================================================

.footer__social-icons {
  // grid-column: 1 / -1;
  order: 3;
  @include flex(row);
  align-items: space-between;

  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.15rem;

  & img {
    width: 2rem;
    height: 2rem;
  }
}



//
// Nav
// ==========================================================================

.footer__nav {
  // grid-column: 1 / -1;
  text-align: left;

  order: 1;
  justify-self: center;
  @include flex(row);
  align-items: flex-start;
  
  max-width: 300px;
  margin-bottom: 2.35rem;

  & ul:first-child {
    margin-right: 6.25rem;
  }

  & a {
    color: $clr-gray-light;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  & li {
    margin-bottom: 0.6rem;
  }
}



//
// Form
// ==========================================================================

.footer__updates-form {
  // grid-column: 1 / -1;
  margin-bottom: 1.8rem;
}



//
// Copyright
// ==========================================================================

.footer__copyright {
  // grid-column: 1 / -1;
  color: $clr-gray-mid;
  font-size: 0.8rem;
  order: 5;
}