// -----------------------------------------------------------------------------
// Header styles & layout
// -----------------------------------------------------------------------------

.header {
  @include flex(row);
  padding-top: 40px;
  padding-bottom: 45px;
}



.header__logo {
  background: center / contain no-repeat url("../../../images/logo.svg");
  width: 120px;
  height: 24px;

  @media (min-width: $bp-medium) {
    width: 146px;
  }
}



.header__btn {
  display: none;
}



/*
   Medium breakpoint
   ========================================================================== */

@media (min-width: $bp-medium) {

  .header {
    padding-bottom: 95px;
  }


  .header__hamburger {
    order: 2;
  }

  
  .header__hamburger {
    display: none;
  }
}



/*
   Large breakpoint
   ========================================================================== */

@media (min-width: $bp-large) {
  
  .header__btn {
    display: block;
  }
}