// -----------------------------------------------------------------------------
// List component
// -----------------------------------------------------------------------------

.list {
  list-style: none;
  position: relative;
  padding-left: 1rem;
}



.list__number {
  background: $clr-red;
  color: $clr-white;
  display: inline-block;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  margin-right: 0.875rem;

  @media (min-width: $bp-large) {
    margin-right: 1.75rem;
  }
}



.list__heading {
  background: $clr-red-light;
  font-weight: 500;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-right: 1rem;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 538px) {
    border-radius: 50px;
  }

  @media (min-width: $bp-large) {
    background: none;
    margin: 0;
    position: relative;
    right: 100px;
  }
}



.list__text {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: $bp-large) {
    max-width: 445px;
    margin: 0;
  }
}



.list__item {
  margin-bottom: 3rem;
}