// -----------------------------------------------------------------------------
// Nav menu component
// -----------------------------------------------------------------------------

//
// Base nav styles (mobile first)
// ==========================================================================

// Nav block
// 1. Positioned to allow slide in on active state.
.nav {
  text-align: center;
  position: absolute; // 1 //
  left: 24px;
  right: 24px;
  top: -250px; // 1 //

  @media (min-width: $bp-medium) {
    position: static;
  }


}



// Nav link elements
.nav__link {
  font-size: 0.8rem;
  display: block;
  padding: 11px 0;

  @media (min-width: $bp-medium) {
    display: inline-block;
    font-weight: 400;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}



//
// Dynamic mobile nav dropdown styles
// ==========================================================================

.header__hamburger {
  background: no-repeat url("../../../images/icon-hamburger.svg");
  width: 25px;
  height: 22px;
  cursor: pointer;
  z-index: 10; // Sits on top of modal when open //
}

.header__hamburger--active {
  background: no-repeat url("../../../images/icon-close.svg");
}



// Modifier class added on hamburger menu click
// Transition applied here so only slides in and not out.
.nav--active {
  background: $clr-white;
  top: 103px;
  border-radius: 5px;
  padding: 22px 0;
  transition: 0.25s;
  z-index: 10; // Sits on top of modal when open //
}



//
// Modal background tint effect for open mobile nav menu
// 1. Fixed to allow scrolling.
// 2. Hidden and behind everything else.
// 3. Opacity set for fade in.
//
.modal {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1));
  position: fixed; // 1 //
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; // 2 //
  visibility: hidden; // 2 //
  opacity: 0; // 3 //
  transition: opacity 0.2s; // 3 //
}
// Modifier class added on hamburger menu click
.modal--active {
  z-index: 9; // 2 //
  visibility: visible; // 2 //
  opacity: 1; // 3 //
}

