// -----------------------------------------------------------------------------
// Updates form component
// -----------------------------------------------------------------------------

.updates-form {
  position: relative;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}



.updates-form__input {
  color: $clr-gray-mid;
  font-size: 0.8rem;
  width: 240px; 
  border-radius: 50px;
  border: none;
  padding: 0.775rem 1.5rem;
  margin-right: 0.25rem;
}



.updates-form__error {
  color: $clr-red;
  font-size: 0.7rem;
  text-align: left;
  visibility: hidden;
  
  display: block;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}



.updates-form__error--active {
  visibility: visible;
}