// -----------------------------------------------------------------------------
// Application-wide Sass/CSS variables.
// -----------------------------------------------------------------------------



// Regular font family
$font-family:'Be Vietnam', sans-serif;



// Primary colors
$clr-red: hsl(12, 88%, 59%);
$clr-blue: hsl(228, 39%, 23%);

// Neutral colors
$clr-blue-dark: hsl(233, 12%, 13%);
$clr-gray-mid: hsl(227, 12%, 61%);
$clr-gray-light: hsl(0, 0%, 98%);
$clr-red-light: hsl(13, 100%, 96%);
$clr-white: hsl(0, 0%, 100%);



// Container's maximum width
// + padding
$max-width: 1110px + 40px;



// Breakpoints
  $bp-small: 320px;
  $bp-medium: 768px;
  $bp-large: 1024px;

